.header-nav {
    background-color: #333;
    width: auto;
    color: #fff;
    padding: 20px;
    font-weight: bold;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;

  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
  }