.post-card {
    margin: 20px;
  }
  
  .card {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
  
    width: 100%;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .post-title {
    margin-top: 0;
  }
  
  .post-meta {
    color: #666;
    margin-top: 5px;
  }
  
  .post-description {
    margin-bottom: 5px;
  }
  
  .flexbox-panel img {
  
    width: 50%;
  }
  .flexbox-content {
    padding: 5px;
  }
  .flexbox-title {
    margin-top: 0;
  }
  
  .flexbox-meta {
    color: #666;
    margin-top: 1px;
  }
  
  .flexbox-description {
    margin-bottom: 5px;
  }
  .flexbox-containar{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;

  
  }
