.post-card {
    margin: 20px;
    display: flex;
    justify-content:start;
  }
  
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
  
    width: 32%;
    height: 420px;
  }
  .card img:hover {
  
    width: 33%;
    height: 420px;
  }
  
  .card-content {
    padding: 20px;
  }
  .card-content:hover {
    background-color: aliceblue;
  }
  
  .post-title {
    margin-top: 0;
  }
  
  .post-meta {
    color: #666;
    margin-top: 0px;
  }
  
  .post-description {
    margin-bottom: 5px;
  }
  .flexbox-panel{

    margin: 0px;
    padding: 5px;
  }
  
  .flexbox-panel img {
  
    width: 460px;
    height: 460px;
  }
  .flexbox-panel img:hover{
    width: 520px;
    height: 520px;
  }
  .flexbox-content {
    padding: 5px;
  }
  .flexbox-title {
    margin-top: 0;
  }
  
  .flexbox-meta {
    color: #666;
    margin-top: 1px;
  }
  
  .flexbox-description {
    margin-bottom: 5px;
  }
  .flexbox-containar{
    margin-top: 3px;
    margin-left: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;

  
  }
